<div>
  <h5><%= pingpong_table.name %></h5>

  <% if pingpong_table.availability %>
    <%= image_tag "icons8-green-dot-48.png", {height: 20} %> AVAILABLE
  <% else %>
    <%= image_tag "icons8-red-dot-48.png", {height: 20} %> OCCUPIED
  <% end %>
  <br>
  <br>
  <div class="container d-flex justify-content-center">
  <%= link_to "See more", pingpong_table_path(pingpong_table), class: "button--seemore center" %>
  </div>
</div>
