<div class="badge">
  <% if pingpong_table.availability %>
    <%= image_tag "marker_ava.png", height: 30, width: 30, alt: "available" %>
  <% else %>
    <%= image_tag "marker_unava.png", height: 30, width: 30, alt: "unavailable" %>
  <% end %>
</div>
