 
  <div class="parent"> 

  <div class="user--photo img child">
  <%= image_tag "profile.png" , style: 'height:90px;width:90px;border-radius:50%;'%>
  </div>

  <div class="picture_icon child">
    <img src="https://res.cloudinary.com/dowrfwu4l/image/upload/v1698238230/qzupocz5xxvdhj8kixos.png" alt="Ping_it_icon" class="picture_icon" >
  </div>
   
  <div class="table--photo img child">
    <%= cl_image_tag @ping_pong_table.photo.key, height: 90, width: 90, crop: :fill, :radius => 50 %>
  </div>
</div>

<div class="container card">
  <div class="card-reservation">
    <div class="mt-4 mb-4">
      
    </div>

    <div class="details1_1" style="display:flex;justify-content: space-between;width:95%;">


  </div>
  
  <i style="color: white; font-size:40px;" class="fa-solid fa-table-tennis-paddle-ball mb-2"></i>
    <!-- countdown timer -->    
     <h3>Game has started</h3>
     <h4>(may the better one win)</h4>
    <div class="centered-text mb-4 timer" data-controller="gametime" data-gametime-target="timer">60.00</div>


     <div class="photo-table center">
        <%= cl_image_tag @ping_pong_table.photo.key %>
        </div>
   
  <%= link_to "Stop Playing",  root_path, class: "btn btn-danger btn-lg btn-block mt-5 mb-4" %>
</div>