<div class="avatars m-4">
  <div class="user--photo img">
  <%= image_tag "profile.png" , style: 'height:70px;width:70px;border-radius:50%;'%>
  </div>
  <div class="picture_icon">
    <img src="https://res.cloudinary.com/dowrfwu4l/image/upload/v1698238230/qzupocz5xxvdhj8kixos.png" alt="Ping_it_icon" class="picture_icon" >
  </div>
  <div class="table--photo img">
    <%= image_tag "table.png" , style: 'height:70px;width:70px;border-radius:50%;'%>
  </div>
</div>

<div class="container card">
  <div class="card-playtime">
    <h5 class="mt-3">Game has started!</h5>

    <!-- countdown timer -->
    <div class="centered-text m-2 timer" data-controller="gametime" data-gametime-target="timer">60:00</div>

   <!-- countdown bar -->
    <div>
      <div class="timerbar mb-2">
        <div id="bar" class="bar" data-controller="timerbar" data-timer-target="timerbar"></div>
      </div>
    </div>

    <!-- Image -->
    <div class="photo-table center">
        <%= image_tag "playtime.png" , style: 'height: 28vh'%>
      </div>

    <!-- Stop Playing button -->
    <div class="container mt-3">
      <button class="button--stopplaying center ms-auto me-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Stop playing
      </button>
    </div>

    <!--Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header", style="background-color:#FF00F5">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Back"></button>
        </div>
        <div class="modal-body">
          <h3>Are you sure you want to stop?</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="button--back center" data-bs-dismiss="modal">Back</button>
          <%= link_to "Stop Playing", cancel_reservation_path(params[:res]), class: "button--stopplaying center", data: {turbo_method: :patch} %>
        </div>
      </div>
    </div>
  </div>
</div>
