<div class="container m-2">
  <h4>Read the QR code on the table to start playing game</h4>
</div>

<div class="card-camera">
  <div data-controller="qrreader">
    <video data-qrreader-target="reader"></video>
    <div data-qrreader-target="result"></div>
  </div>
</div>
