<div class="container m-2">
  <p>Read the QR code on the table to start playing game!</p>
</div>

<div class="card-camera">
  <div data-controller="qrreader">
    <video class="card" data-qrreader-target="reader"></video>
    <div data-qrreader-target="result" class="card-camera"></div>
  </div>
</div>
