.photo-table{
    img {
        width: 100%;
    }
}

.parent {
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-items: center;
    align-items: center; 
  }
  
  .child {
    flex-grow: 1;
    flex-basis: 0;
  }
