<style>
  body { Font-size: 12px !important;
        color: black !important;
       }
</style>

<div class="menu sticky-bottom fixed-bottom center">
  <div class="menu-details mt-3">
    <div class="container menutext">
      <%= link_to "", pingpong_tables_path, class: "fa-solid fa-house fa-lg" %>
      <p>Home</p>
    </div>
    <div class="container menutext">
      <%= link_to "", reservations_path, class: "fa-regular fa-calendar-check fa-lg" %>
      <p>Reservation</p>
    </div>
    <div class="container menutext">
      <%= link_to "", matches_path, class: "fa-solid fa-table-tennis-paddle-ball fa-lg" %>
      <p>Match</p>
    </div>
    <div class="container menutext">
      <%= link_to "", my_profile_path, class: "fa-solid fa-user fa-lg" %>
      <p>Profile</p>
    </div>
  </div>
</div>
