<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid ms-2">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "profile.png", class: "avatar", alt: "dropdown menu" %>
      <% if user_signed_in? %>
        <%= "Hi, #{current_user.nickname}!" %>
      <% else %>
        <%= "Let's Ping it" %>
      <% end %>
    <% end %>
  </div>
</div>
