<style>
  body { background-color: #396BEE !important;
      color: white !important;
       }
  .navbar {
     visibility: hidden;
      }
  .menu {
     visibility: hidden;
    }
</style>

<!-- Pingpong racket icon -->
<div class="container content">
  <div class="container center mb-3">
    <%= link_to pingpong_tables_path do %>
      <%= image_tag "marker_ava.png" , style: 'height:70px;width:70px;'%>
    <% end %>
  </div>

  <!-- Headline -->
  <div class="container center">
    <h1 style="color:white">Ping it</h1>
  </div>

  <div class="container center">
    <p style="color:white">Find Pingpong Tables Nearby</p>
  </div>

  <div class="container center">
    <%= link_to pingpong_tables_path do %>
      <p class="button--start">Start</p>
    <% end %>

  </div>
</div>
