<style>
  body { background-color:#396BEE !important;
        color:white!important;
       }
</style>

<div class="container content">
  <div class="container center mb-3">
    <%= image_tag "marker_ava.png" , style: 'height:70px;width:70px;'%>
  </div>

  <div class="container center">
    <h1>Ping It</h1>
  </div>
  <div class="container center">
    <p>Find a table and play with buddies</p>
  </div>
</div>
