<h3>Ping it Reservations</h3>

<% @reservations.each do |reservation| %>
  <div class="card m-2">
    <div>
      Table: <%= reservation.pingpong_table.name %>
      <br>
      Time: <%= reservation.created_at.strftime("at %H:%M, %e-%m-%Y ") %>

      <%= link_to "see more", reservations_path, type: "button", class: "button--seemore center" %>
    </div>
  </div>
<% end %>
