<div class="container card">
  <h1>Edit match</h1>

  <%= render 'form' %>
  <div class="d-flex">
    <%= link_to 'Show', @match, class: "button--cancel center" %>
    <%= link_to 'Back', matches_path, class: "button--back center" %>
  </div>
</div>
