<div class="container">
  <div class="d-flex text-center m-2">
    <h3>Ping it Matches </h3>
    <%= link_to "Add", new_match_path, class: "button--seemore"%>
  </div>

  <% @matches.each do |match| %>
    <div class="card text-center m-2">
      <div class="card-header">
        <h5><%= match.name %> </h5>
      </div>
      <div class="details--last ms-3 me-3">

          <%= match.match_time.strftime("%b %d %Y, %H:%M %P")%>

          <%= link_to "See more", match, class: "button--seemore" %>

      </div>
    </div>
  <% end %>
</div>
