<h3>Ping it Matches </h3>

<div class="card">
  <% @matches.each do |match| %>
    Match: <%= match.name %> <%= link_to "see more", match, type: "button", class: "button--seemore center" %>
    <hr>
  <% end %>
</div>

<div class="d-flex">
  Create a match:  <%= link_to new_match_path, type: "button", class: "button--seemore center" do %><i class="fa-solid fa-plus"></i> <%end%>
</div>
