<div class="matchcard d-flex align-items-stretch">
  <h3>My matches </h3>
  <h5>Create a match<%= link_to new_match_path, type: "button", class: "button--seemore" do %><i class="fa-solid fa-plus"></i> <%end%> </h5>
</div>
<div class="card">
  <% @matches.each do |match| %>
    Match: <%= link_to match.name, match, type: "button", class: "button--seemore" %>
    Place: <%= match.location %>
    <hr>
  <% end %>
</div>
