<h3 style="color: black">Ping it Matches </h3>

<% @matches.each do |match| %>
  <div class="card text-center m-2">
    <div class="card-header">
      Match: <%= match.name %>
    </div>
    <div class="card-body d-flex ms-auto me-auto">
      <%= link_to "see more", match, type: "button", class: "button--seemore center" %>
    </div>
  </div>
<% end %>

<div class="d-flex" style="color: black">
  Create a match:  <%= link_to new_match_path, type: "button", class: "button--seemore center" do %><i class="fa-solid fa-plus"></i> <%end%>
</div>
