<div class="container">
<div class="d-flex center mt-2">
  <h3>New match</h3>
</div>

<div class="card m-4 card-pingpongtable-detail container p-2">
  <div class="details--seemore mt-2">

      <div class="x--btn">
        <%= link_to matches_path do %>
          <p class="center" >X</p>
        <% end %>
      </div>

  </div>

    <%= render 'form' %>

</div>
</div>
