.button--start{
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 50px;
  height: 25px;
  vertical-align: middle;
  background-color: $green;
  color: black;
}

.button--seemore {
  background-color: $pink;
  color: $white;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  align-content: center !important;
  text-decoration: none;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--selectmatch {
  background-color: $pink;
  color: $white;
  height: 30px;
  width: 70px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  align-content: center !important;
  text-decoration: none;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--select {
  background-color: $pink;
  color: $white;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  border-style: solid !important;
  border-color: black !important;
  border-width: 1px !important;
  align-content: center !important;
  text-decoration: none;
  vertical-align: middle;
  font-weight: bolder;
  width: fit-content;
}

.button--stopplaying {
  background-color: $grey;
  color: $black;
  height: 35px;
  width: 120px !important;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: bolder;
}

.button--back {
  background-color:$grey;
  color:$black;
  height: 30px;
  width:60px;
  justify-content: center;
  border-style: none;
  vertical-align:middle;
  display: flex;
  align-content: center;
  width: fit-content;
  border-radius: 5px;
}

.button--cancel {
  border-radius: 5px;
  background-color:$grey;
  color:$black;
  height: 30px;
  width:90px;
  align-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: flex;
  width: fit-content;
  vertical-align:middle;
}

.button--edit {
    background-color: $pink;
    color: $white;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    align-content: center !important;
    text-decoration: none;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button--x {
  height: 20px;
  align-items: flex-end;
}

.button--x-infowindow {
  // height: 10px;
  align-items: flex-end;
}

.button--qrcode {
  border-radius: 5px;
  background-color: $pink;
  color: $white;
  height: 30px;
  width: 110px;
  align-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

@media (max-width:600px) {
.button--qrconfirm {
  border-radius: 5px;
  background-color: $pink;
  color: $white;
  height: 30px;
  width: 100px !important;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}
}

.button--category {
  color: black;
  background-color: #D9D9D9;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  width: 80px;
  height: 22px;
  justify-content: center;
  vertical-align:middle;
  display: flex;
  align-content: center;
}



.button-ended {
  color: black;
}

.x--btn {
  color: $white !important;
  background-color: $pink;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.width{
width: 80px;
}

.front--size{
  font-size: 14px;
  font-weight: bolder;
}

.plus--btn {
  color: $white !important;
  background-color: $pink;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}
