.card {
  background-color: $blue;
  border-radius: 20px;
  color: $white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 15%;
}

.card--joined {
  background-color: $lightgreen;
  border-radius: 20px;
  color: $white;
  height: 320px;
}

.card-old {
  background-color: rgb(194, 194, 194);
  border-radius: 20px;
  color: $white;
}

.match-card-old{
  background-color: rgb(194, 194, 194);
}

.match-card-detail {
 height: 300px;
}

.match-joined-card-detail {
  height: 300px;
  color: $blue;
 }

.card-pingpongtable-detail-old {
  width: 90%;
  height: 100%;
  background-color: rgb(194, 194, 194);
}

.card-video {
  background-color: none;
}

.card-reservation {
  background-color: $blue;
  color: white;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 55vh;
  margin-top: 15%;
}

.card-playtime {
  background-color: $blue;
  color: white;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 55vh;
  margin-top: 15%;
}

// Pingpong tables
.card-pingpongtable-detail_1 {
  width: 90%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}

.details1{
  display: flex;
  justify-content: space-between;
}

.details1_1{
  display: flex;
  width: 250px;
}


.address--table {
  color: white;
}


.details--last{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.details--seemore{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  border: none;
}

.wellcome{
  font-size: 18px;
  font-weight: semi-bold;
}

.match--card--title{
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// Modal popup card styling
.modal-header {
  color: $white;
  background-color: #FF00F5;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.modal-body{
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.modal-footer{
  display: flex;
  justify-content: space-between;
}


@media (max-width:600px) {
  .card-camera {
    display: flex;
    align-items: center;
    justify-content: center;

    // height:
  }

  .camera {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
  }

}

.camera {
  align-items: center;
  justify-content: center;
  width: 55%;
}
