.card {
  background-color: $blue;
  border-radius: 20px;
}

.card-pingpongtable-detail {

}

.card-reservation {
  color: white;
  width: 400px;
  height: 500px;
  text-align: center;
}

.card-match {

}
