.mapboxgl-popup{
  // left: 0;
  // right: 0;
  // height: 300px;
  margin-left: auto;
  margin-right: auto;

  transform:none !important;
  position: relative !important;
  top: 30% !important;
  bottom: 70% !important;
}

.mapboxgl-canvas{
  margin: 0;
  padding: 0;
  width: 100%;
}

.mapboxgl-user-location-dot {
  // background-color: red !important;
}

.mapboxgl-user-location-dot::after {
  display: none;
  content: none;
}

.mapboxgl-popup-content{
  background-color: $blue !important;
  color: $white;
  border-radius: 20px !important;
  text-align: center;
  align-content: center;
  height: fit-content;
  width: fit-content;
  font-family: Helvetica;
}


.mapboxgl-ctrl-geocoder {
  max-width: 200px !important;
  height: auto !important;
}

.mapboxgl-ctrl-geocoder--input {
  background-color: $white !important;
}

.mapboxgl-popup-close-button {
  background-color: $pink !important;
  color: $white;
  font-weight: bold;
  display: none;
  // border-top-right-radius: 25% !important;
  // border-bottom-left-radius: 25% !important;
  // border-bottom-right-radius: 25% !important;
  // border-top-left-radius: 25% !important;
}

h2 {
  font-weight: bolder;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
  display:none !important;
}

a {
  text-decoration: none;
}
