.menu {
  background-color: $white;
  border-color: grey;
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  display: flex;
}

.menu-details{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}


// icon styling

.fa-house {
  color: $grey;
  &:hover {
    color: $blue;
  }
}


.fa-calendar-check {
  color: $grey;
  &:hover {
    color: $blue;
  }
}

.fa-table-tennis-paddle-ball {
  color: $grey;
  &:hover {
    color: $blue;
  }
}

.fa-user {
  color: $grey;
  &:hover {
    color: $blue;
  }
}


// Menu text styling
.menutext {
  color: $grey;
  &:hover {
    color: $blue;
  }
}

.menutext-current {
  color: $blue;
}