.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  color: black;
  font-weight: 4;
}

.navbar {
  color: black;
  align-content: center;
}

.navbar-nav {
  background-color: $pink;
}

button.navbar-toggler {

}

.nav-link {
  color: $white;
}

.nav-link:hover {
  color: $grey;
}

.dropdown-item {
  color: $white;
}

.dropdown-item:hover {
  color: $grey;
}

.me-2 {
  font-weight: bold;
}

.hr {
  background-color: $pink;
  height: 5px;
  line-height: 100%;
}

.border-bottom {
  color:$pink;
}
