// Texts Styling
.text-mymatches {
  color: black;
  font-size: 13px;
  width: 150px;
  height: 100%;
  display: flex;
  padding: 7px;
}

.text-favtables {
  color: black;
  font-size: 13px;
  width: 240px;
  height: 100%;
  display: flex;
  padding: 7px;
  padding-left: 0.5px;
}

.text-more {
  color: $pink !important;
  font-size: 13px;
  font-weight: bold;
}

.match-title-text {
  font-size: 17px;
}

.text-organized {
  color: $black;
  font-size: 16px;
}

.text-joined {
  color: $black;
  font-size: 16px;
}

.text-nothingyet {
  color: $grey;
  font-size: 12px;
  margin: 0;
}


.text-nothingyet2 {
  color: $grey;
  font-size: 12px;
}

.match-title {
  color: white;
}

.match-matchtime {
  color: white;
  font-size: 16px;
}

.match-joined-title {
  color: $blue;
}

.match-joined-title-white {
  color: $white
}

.match-joined-matchtime {
  color: $blue;
  font-size: 16px;
}

.more-matches-content {
  display: flex;
  flex-direction: column;
}



.favtables-name {
  font-size: 10px;
  color: $blue;
}

.more-title {
  color: black;
  justify-content: center;
  border-style: none;
  font-size: 13px ;
  padding: 7px;
}

.more-matchname {
  font-size: 12px;
  font-weight: bold;
}


// Cards Styling
.matches-organised {
  background-color: $blue;
  border-radius: 20px;
  color: $white;
  height: 150px;
}

.matches-organised-old {
  background-color: $grey;
  border-radius: 20px;
  color:black;
  height: 140px;
}

.matches-joined {
  background-color: $lightgreen;
  border-radius: 20px;
  color: $blue;
  height: 150px;
}

.grid-more {
  flex-direction: column;
  justify-content: space-around;
}

.matches-more-organised {
  background-color: $blue;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  color: $white;
  width: 150px;
  height: 90%;
  margin: 5px;
}

.matches-more-joined {
  background-color: $lightgreen;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  color: $blue;
  width: 150px;
  height: 90%;
  margin: 5px;
}


// Favorite Table Images
.favoritetable{
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
