// Texts Styling
.text-mymatches {
  color: black;
  font-size: 13px;
  width: 150px;
  height: 100%;
  // background-color: #D9D9D9;
  // border-radius: 20px;
  // border-style: solid;
  // border-width: 1px;
  // border-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-content: center;
  text-align: center;
  padding: 7px;
}

.text-favtables {
  color: black;
  font-size: 13px;
  width: 150px;
  height: 100%;
  // background-color: #D9D9D9;
  // border-radius: 20px;
  // border-style: solid;
  // border-width: 1px;
  // border-color: rgb(0, 0, 0);
  display: flex;
  //text-align: center;
  padding: 7px;
  padding-left: 0.5px;
}

.text-more {
  color: $pink !important;
  font-size: 13px;
  font-weight: bold;
  
}

.match-title-text {
  font-size: 17px;
}

.text-organized {
  color: $black;
  font-size: 16px;
}

.text-joined {
  color: $black;
  font-size: 16px;
}

.text-nothingyet {
  color: $grey;
  font-size: 12px;
  margin: 0;
}


.text-nothingyet2 {
  color: $grey;
  font-size: 12px;
}



.match-title {
  color: white;
}

.match-matchtime {
  color: white;
  font-size: 16px;
}

.match-joined-title {
  color: $blue;
}

.match-joined-title-white {
  color: $white
}

.match-joined-matchtime {
  color: $blue;
  font-size: 16px;
}

.more-matches-content {
  display: flex;
  flex-direction: column;
}



.favtables-name {
  font-size: 10px;
  color: $blue;
}

.more--mymatches {
  color: black;
  background-color: #D9D9D9;
  border-radius: 30px;
  width: 280px;
  height: 100%;
  justify-content: center;
  border-style: none;
  vertical-align: middle;
  display: flex;
  align-content: center;
  font-size: 13px ;
  text-align: center;
  padding: 7px;
}

.more--joinedmatches {
  color: black;
  background-color: #D9D9D9;
  border-radius: 30px;
  width: 60%;
  height: 100%;
  justify-content: center;
  border-style: none;
  vertical-align: middle;
  display: flex;
  align-content: center;
  font-size: 13px ;
  text-align: center;
  padding: 7px;
}


// Cards Styling
.match-card {
 height: 100px;
 width: fit-content;
}

.matches-organised {
  background-color: $blue;
  border-radius: 20px;
  color: $white;

}

.matches-joined {
  background-color: $lightgreen;
  border-radius: 20px;
  color: $blue;
}

.grid-more {
  flex-direction: column;
  justify-content: space-around;
}

// Favorite Table Images
.favoritetable{
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
