.timer {
  color: $neongreen;
  font-size: 30px;
  font-weight: bold;
}

.timer-5min {
  color: rgb(212, 255, 0);
  font-size: 60px;
}

.timer-2min {
  color: red;
  font-size: 60px;
}

.remaining {
  font-size: 15px;
}
