.timer {
  color: $neongreen;
  font-family: "Press Start 2P";
  font-size: 30px;
  font-weight: bold;
}

.timer-5min {
  color: rgb(212, 255, 0);
  font-size: 60px;
}

.timer-2min {
  color: red;
  font-size: 60px;
}

.text-reservation {
  font-size: 20px;
}
